@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-2-1 table{
	margin: 1em;
}

#chapter-2-1 table:first-of-type{
	border-collapse: collapse;
}

#chapter-2-1 td p{
	text-indent: 0;
	padding-left: 1em;
}

#chapter-2-1 table:first-of-type tr:first-of-type td:last-child{
	border-left: 1px solid;
}

#chapter-2-27 blockquote p{
	text-align: center;
	text-indent: 0;
	font-variant: small-caps;
}

#chapter-2-27 blockquote p b{
	font-size: 1.5em;
}

/* poems, etc */
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
